* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-color: rgb(234, 235, 236);
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.menu-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  place-items: center;
}

.menu-container h1 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(121, 82, 82);
  border-bottom: 2px solid rgb(121, 82, 82);
}

.btns {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
  margin: 40px auto 60px;
}

.btns button {
  font-size: 18px;
  font-weight: 800;
  border: none;
  background-color: transparent;
  letter-spacing: 1px;
  color: rgb(167, 120, 120);
  padding: 5px 10px;
  border-radius: 5px;
}

.btns button:hover {
  background-color: rgb(184, 154, 154);
  color: rgb(243, 225, 225);
}

.menu {
  width: 550px;
  height: 150px;
  display: flex;
  padding: 10px;
}

img {
  width: 230px;
  max-height: 130px;
  object-fit: cover;
  border: 4px solid rgb(167, 120, 120);
  border-radius: 5px;
  margin-right: 15px;
}

.title {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dotted rgb(148, 146, 146);
  margin-bottom: 10px;
}

.title h4 {
  text-transform: capitalize;
  padding-bottom: 5px;
  color: rgb(167, 120, 120);
  font-weight: bold;
  letter-spacing: 2px;
}

.menu-info p {
  color: rgb(126, 122, 122);
}

